@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Now a days we are seeing how much struggle the farmers are facing to sell their crop in the market for proper price.
    Farmer must bear the cost of transportation, wait time, negotiations for proper price, etc.
    Even though farmer sells the product in the market, he/she must pay lot of intermittent charges as commissions to make his way for coming out of market.</p>
<p>This App will act as a bridge between the Farmer and the Dealer (Crop purchaser).
    All you need to do is selecting whether you are a Farmer or the Dealer, signing up with details and the payment information. </p>